* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif; 
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #416e1d 0%, #83bcdd 55%, #180f11 100%);

  } 



.container{




}

nav h1{



    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
  
  color: rgb(32, 32, 25);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  cursor: pointer;
}

main h1:hover{
    transition: 0.7s;
    color: #416e1d;
}

.home ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-size: x-large;
    margin-top: 20px;
    cursor: pointer;

}

.home ul li{

    background-color: rgb(134, 247, 99);
    border-radius: 70px;
    padding: 15px;
    margin-top: 20px;
}

.home ul li:hover{
    background-color: rgb(39, 119, 8);
}

.introduction{
    font-family: "Rampart One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    padding-left: 100pxpx;
    padding-right: 100px;
  }

  .introduction p:hover{
    
   
color: #416e1d;

  }

    main h1{
        text-align: center;
        font-size: xx-large;
    }


    